
.App {
  text-align: center;
}

.App-header {
  background-color: orchid;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  display: block;
}
.App-footer {
  background-color: orchid;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100vw;
  bottom:0;
  position: fixed;
  color: white;
}

